<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ots.dao.ReplyDao" >


    <!-- 查询用户 -->

    
    <insert id="insert" parameterType="Reply">
    	insert into reply(msgid,fromuserid,targetuserid,content)
    	values(#{msgId},#{fromUserId},#{targetUserId},#{content})
    </insert>

    <select id="select" parameterType="Reply" resultType="Reply">
        select *
        from reply
        where 1=1

        <if test="msgId != null" >
            and msgid = #{msgId}
        </if>

        <if test="fromUserId != null" >
            and fromuserid = #{fromUserId}
        </if>

        <if test="targetUserId != null" >
            and targetuserid = #{targetUserId}
        </if>
    </select>

	<!--<update id="update" parameterType="TeacherInfo">-->
		<!--update teacher_info set-->
		<!--(userid,realname,idcardnum,grade,subjectid)-->
		<!--values(#{userId},#{realName},#{idCardNum},#{grade},#{subjectId})-->
	<!--</update>-->
	
    
</mapper>
