<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ots.dao.TeacherCourseVoDao" >


    <!-- 查询用户 -->
    <select id="selectOne" parameterType="User" resultType="User">
	    select *
	    from user
	    where 1=1
	    
	    <if test="username != null" >
        and username = #{username}
      	</if>
      	
      	<if test="phone != null" >
        and phone = #{phone}
      	</if>
    </select>

	<select id="select" parameterType="TeacherCourseVo" resultType="TeacherCourseVo">
		select teacher_info.userid,teacher_info.realname,teacher_course.courseId,teacher_course.coursePrice,course.courseName,course.grade
		from teacher_info
		LEFT JOIN teacher_course on teacher_info.userid=teacher_course.teacherId
		LEFT JOIN course on teacher_course.courseId=course.courseId
		where 1=1

		<if test="userId != null" >
			and teacher_info.userid = #{userId}
		</if>

		<if test="courseId != null" >
			and teacher_course.courseId = #{courseId}
		</if>

		<if test="grade != null" >
			and course.grade = #{grade}
		</if>

		<if test="realName != null and realName != ''" >
			and teacher_info.realname = #{realName}
		</if>

		<if test="courseName != null and courseName != ''" >
			and course.courseName = #{courseName}
		</if>

	</select>
    
</mapper>
